html{	
    background: #000000;
}

canvas {
    display: block;
    background: #151515;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}  

@font-face{
	font-family: "silkscreen"; 
	src: local("slkscr"), url("slkscr.ttf");
    format("truetype");
}

@font-face{
	font-family: "silkscreenbold"; 
	src: local("slkscrb"), url("slkscrb.ttf");
    format("truetype");
}